In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('FirstSparkSessionApp').getOrCreate()

24/12/06 13:44:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
myRange = spark.range(100)
myRange

DataFrame[id: bigint]

In [3]:
myRange.show(10)

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+
only showing top 10 rows

In [4]:
data = [
    ('Brook',20),
    ('Denny',31),
    ('Jules',30)
]

data_frame = spark.createDataFrame(data)
data_frame

DataFrame[_1: string, _2: bigint]

In [5]:
data_frame.show()

+-----+---+
|   _1| _2|
+-----+---+
|Brook| 20|
|Denny| 31|
|Jules| 30|
+-----+---+

In [6]:
data_frame.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: long (nullable = true)

In [9]:
# 임시뷰
data_frame.createOrReplaceTempView('people')

In [10]:
result = spark.sql("select _1, _2 from people where _2 > 30")
result.show()

+-----+---+
|   _1| _2|
+-----+---+
|Denny| 31|
+-----+---+

In [13]:
# StructType
from pyspark.sql.types import *

schema = StructType([
            StructField('Author', StringType(), False),
            StructField('Age', IntegerType(), False)
])
schema

StructType(List(StructField(Author,StringType,false),StructField(Age,IntegerType,false)))

In [14]:
a_df = spark.createDataFrame(data, schema)
a_df.show()

+------+---+
|Author|Age|
+------+---+
| Brook| 20|
| Denny| 31|
| Jules| 30|
+------+---+

In [16]:
# DDL

schema = "Author STRING, Age INT"
b_df = spark.createDataFrame(data, schema)
b_df.show()

+------+---+
|Author|Age|
+------+---+
| Brook| 20|
| Denny| 31|
| Jules| 30|
+------+---+

In [17]:
# define schema for our data
schema = StructType([
   StructField("Id", IntegerType(), False),
   StructField("First", StringType(), False),
   StructField("Last", StringType(), False),
   StructField("Url", StringType(), False),
   StructField("Published", StringType(), False),
   StructField("Hits", IntegerType(), False),
   StructField("Campaigns", ArrayType(StringType()), False)])

#create our data
data = [[1, "Jules", "Damji", "https://tinyurl.1", "1/4/2016", 4535, ["twitter", "LinkedIn"]],
       [2, "Brooke","Wenig","https://tinyurl.2", "5/5/2018", 8908, ["twitter", "LinkedIn"]],
       [3, "Denny", "Lee", "https://tinyurl.3","6/7/2019",7659, ["web", "twitter", "FB", "LinkedIn"]],
       [4, "Tathagata", "Das","https://tinyurl.4", "5/12/2018", 10568, ["twitter", "FB"]],
       [5, "Matei","Zaharia", "https://tinyurl.5", "5/14/2014", 40578, ["web", "twitter", "FB", "LinkedIn"]],
       [6, "Reynold", "Xin", "https://tinyurl.6", "3/2/2015", 25568, ["twitter", "LinkedIn"]]
      ]

In [18]:
c_df = spark.createDataFrame(data, schema)
c_df.printSchema()

root
 |-- Id: integer (nullable = false)
 |-- First: string (nullable = false)
 |-- Last: string (nullable = false)
 |-- Url: string (nullable = false)
 |-- Published: string (nullable = false)
 |-- Hits: integer (nullable = false)
 |-- Campaigns: array (nullable = false)
 |    |-- element: string (containsNull = true)

In [20]:
c_df.show(3)

+---+------+-----+-----------------+---------+----+--------------------+
| Id| First| Last|              Url|Published|Hits|           Campaigns|
+---+------+-----+-----------------+---------+----+--------------------+
|  1| Jules|Damji|https://tinyurl.1| 1/4/2016|4535| [twitter, LinkedIn]|
|  2|Brooke|Wenig|https://tinyurl.2| 5/5/2018|8908| [twitter, LinkedIn]|
|  3| Denny|  Lee|https://tinyurl.3| 6/7/2019|7659|[web, twitter, FB...|
+---+------+-----+-----------------+---------+----+--------------------+
only showing top 3 rows

In [19]:
c_df.select('Id').show(2)

+---+
| Id|
+---+
|  1|
|  2|
+---+
only showing top 2 rows

In [22]:
from pyspark.sql.functions import *

c_df.select(expr("Hits")*2).show(10)

+----------+
|(Hits * 2)|
+----------+
|      9070|
|     17816|
|     15318|
|     21136|
|     81156|
|     51136|
+----------+

In [23]:
spark.stop()